<!-- what data is available to work with -->
@model IEnumerable<Page>

@{
    // there is also ViewBag and TempData
    ViewData["Title"] = "Index"; // view data is just a dictionary
}

<h1>Index</h1>

<p>
    <!-- if only action is specified it will automatically assume you want to go with the default controller -->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Slug
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Slug
                </td>
                <td>
                    <!-- new way of doing things -->
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                    <!-- old way of doing things -->
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
